body{
    font-family: sans-serif;
}

.quem-somos {
    background-color: gray;
    color: white;
    padding-top: 10px;
    padding-bottom: 45px;
    font-weight: bold;
    text-align: center;
}

.imagem {
    margin-bottom: 25px;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.imagens {
    max-width: 400px;
}

.footer{
    background-color: black;
    color: white;

}